<!doctype html>
<html lang="pt-br" translate="yes">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/styles/global.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="/styles/components/spinner.css"
    />

    <link rel="stylesheet" type="text/css" href="/styles/pages/dashboard.css" />

    <script type="module" src="/scripts/completedSetup.js"></script>
    <script defer type="module" src="/scripts/dashboard.js"></script>

    <title>Dashboard | UserLess</title>
  </head>
  <body data-id="body">
    <div class="container" data-id="container">
      <header class="header" data-id="header">
        <nav class="navigation" data-id="navigation">
          <div class="dropdown" data-id="dropdown">
            <input id="menu" type="checkbox" name="dropdown-input" hidden />

            <label for="menu" class="profile">
              <div class="profile__avatar avatar">
                <img
                  src="<%= user.gravatar %>"
                  alt="<%= user.name %>"
                  class="profile__avatar-img avatar__img"
                />
              </div>

              <span class="profile__name"><%= user.name %></span>
            </label>

            <div class="menu" data-id="menu">
              <div class="menu-profile">
                <div class="menu-profile__avatar avatar">
                  <img
                    src="<%= user.gravatar %>"
                    alt="<%= user.name %>"
                    class="menu-profile__avatar avatar__img"
                  />
                </div>

                <span class="menu-profile__name"><%= user.name %></span>

                <span class="menu-profile__email"><%= user.email %></span>
              </div>

              <div class="menu-navigation">
                <ul class="menu-links">
                  <li class="menu-links__item menu-links__item--logout">
                    <a href="#" data-id="logout">
                      <img
                        src="/assets/icons/leave.png"
                        alt="Encerrar sessão"
                      />
                      Sair
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </header>

      <p class="account-id">Id: <%= user._id %></p>
    </div>

    <div class="spinner-loading" data-id="loading">
      <div class="spinner"></div>
    </div>
  </body>
</html>
